# IDE
.idea/
.vscode/
*.swp
*.swo

# Python / Backend
backend/.venv/
backend/venv/
admin/backend/.venv/
admin/backend/venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
backend/.env
admin/backend/.env
backend/firebase-credentials.json
admin/backend/firebase-credentials.json
backend/alembic/versions/*
admin/backend/alembic/versions/*
supabase/*


# Node / Frontend
node_modules/
dist/
build/
.npm
.eslintcache
frontend/.env
frontend/.env.local
admin/frontend/.env
admin/frontend/.env.local
frontend/public/images/*
frontend/public/resumes/*
admin/frontend/public/images/*
admin/frontend/public/resumes/*


# OS Files
.DS_Store
Thumbs.db
