# Environment configuration
ENVIRONMENT=development
# SECRET_KEY=generate_a_secure_random_key_here

# Active Database Provider (local-postgres, mongodb, firebase, supabase)
DB_PROVIDER=local-postgres

# PostgreSQL Connection Strings
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/resumesh

# MongoDB Connection Strings
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=resumesh

# Supabase Configurations
SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-key

# Firebase Configurations
FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json
